button {
  border-radius: 0;
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
  cursor:pointer;
  color: rgb(73, 73, 73);
  position: relative;
  font-size: 20px;
}

button:hover {
  color: rgb(117, 117, 117);
}

button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: rgb(138, 72, 158);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

button:hover::after {
  width: 100%;
  left: 0;
  transform: translateX(0);
}

.page {
  height: 100%;
  width: 100%;
  color: white;
}

body {
  background-color: #999999;
}

.headbar {
  position: fixed;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 101;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.headbar-sized {
  height: 30px;
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.home-button {
  height: 100%;
  margin-right:auto;
}

.spacer {
  height: 100%;
  flex: 1;
  min-width: 20px;
}

.nav-buttons {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nav-button {
  height: 100%;
}

/* wraps all the content
 * contains a dummy header bar to offset content
 */
.content-wrapper {
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
}

/* wraps all the content
 * doesn't include the dummy header bar aforementioned
 */
.content-flex {
  /* flex: 1;
  display: flex;
  width: 100%;
  height: 100%; */
  /* overflow: auto; */
  /* justify-content: center;
  align-items: center;
  flex-direction: column; */
}

/* also wraps all the content
 * content-flex is necessary as it allows scrolling
 */
.content {
  width: 100%;
  min-height: min-content;
  background-color:white;
}

/* stores a box of content, separated by wavy lines
 * disclaimer: doesn't actually implement the lines
 */
.content-box {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left:15%;
  padding-right:15%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

/* stores the content in the first content box
 * to the right of the carousel
 */
.content-text {
  height: 100%;
  width:  40%;
  padding: 5%;
  text-align: center;
}

.wave-div {
  width: 100%;
  height: 10px;
  display:flex;
  margin-bottom:-1px;
}

